{% set page_name = "post" %}
{% set isShowBalance = false %}
{% set isLogin = false %}
{% set page_title = "Post | xmrwallet.com" %}

{% extends "layout/dashboard.twig" %}

{% block content %}
    <script>document.title = "{{ page_title }}";</script>

    <div class="post">
        <div class="post-title">Bitcoin ETF: It's Getting Hot in Here</div>
        <div class="post-created">July 24, 2018</div>
        <img src="/i/blog/posts/1/cover@2x.jpg" class="post-cover">
        <div class="post-body">
            <p>
                Everyone who is even remotely interested in cryptocurrencies, has its gaze fixed on the SEC (The U.S. Securities and Exchange Commission) in these
                past couple of days. For those of you who have been living under a rock lately, the date when the SEC gives its opinion on the proposed bitcoin ETF,
                or exchange-traded fund, is drawing closer.
            </p>
            <p>
                An ETF, or exchange-traded fund, would allow the average Joe to buy and sell bitcoin without having to go through an exchange – something that,
                as everyone hopes, would significantly improve adoption.
            </p>
            <p>
                The decision is estimated in the coming months, and it has prompted huge amounts of media attention and waves of internet memes. Google trends
                are showing that the general public's overall interest in the ETF has exploded, reaching highs it hasn't seen since late 2017.
            </p>
            <p>
                "In January we were justifiably concerned about a bubble and the harm a quickly approved product could attract speculators and create losses that
                led to significant lawsuits. Now, those factors seem to be mitigated significantly,” according to the first source. While the second source expects
                a positive outcome in September, "or if it gets strung out a little further it is simply a few ‘dotted i’s and crossed t’s’ are being finalized on larger
                regulatory language in the crypto space."
            </p>
            <p>
                However, Bloomberg, for example, reports that we have bigger chances to land on Jupiter, than to see a bitcoin ETF launch in the US this year.
                According to the report, the SEC is tentative and slow, and it's just a matter of time before Canada steps in and scoops the pool. Bloomberg
                says the SEC asked the industry to withdraw original ETF requests, and sent out a letter to the fund industry, containing 31 questions about
                liquidity, valuation and security. It wants to have these answered before any new requests are filed.
            </p>
        </div>
    </div>
{% endblock %}