@font-face {
	font-family: 'Roboto-Black';
	src: url('/font/roboto-black.eot');
	src: url('/font/roboto-black.woff2') format('woff2'),
	url('/font/roboto-black.woff') format('woff'),
	url('/font/roboto-black.ttf') format('truetype'),
	url('/font/roboto-black.svg#roboto-black') format('svg'),
	url('/font/roboto-black.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('/font/roboto-light.eot');
	src: url('/font/roboto-light.woff2') format('woff2'),
	url('/font/roboto-light.woff') format('woff'),
	url('/font/roboto-light.ttf') format('truetype'),
	url('/font/roboto-light.svg#roboto-light') format('svg'),
	url('/font/roboto-light.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('/font/roboto-regular.eot');
	src: url('/font/roboto-regular.woff2') format('woff2'),
	url('/font/roboto-regular.woff') format('woff'),
	url('/font/roboto-regular.ttf') format('truetype'),
	url('/font/roboto-regular.svg#roboto-regular') format('svg'),
	url('/font/roboto-regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('/font/roboto-bold.eot');
	src: url('/font/roboto-bold.woff2') format('woff2'),
	url('/font/roboto-bold.woff') format('woff'),
	url('/font/roboto-bold.ttf') format('truetype'),
	url('/font/roboto-bold.svg#roboto-bold') format('svg'),
	url('/font/roboto-bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('/font/roboto-medium.eot');
	src: url('/font/roboto-medium.woff2') format('woff2'),
	url('/font/roboto-medium.woff') format('woff'),
	url('/font/roboto-medium.ttf') format('truetype'),
	url('/font/roboto-medium.svg#roboto-medium') format('svg'),
	url('/font/roboto-medium.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}